<!DOCTYPE html>
<html th:replace="~{layout/manage :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:text="${form_title} + ' &raquo; What to Cook?'"></title>
</head>
<body>
<main>
    <form th:action="${form_url}" method="POST" class="form form-add" th:object="${recipeForm}">
        <div class="flex">
            <h1 class="flex-grow" th:text="${form_title}"></h1>
            <button class="btn-add self-center">Save</button>
        </div>
        <dl>
            <dt><label for="form_name">Name</label></dt>
            <dd><input th:field="*{name}" id="form_name" name="name" type="text" placeholder="i.e.: Chicken Tikka Masala" required /></dd>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>

            <dt><label for="form_instructions">Instructions</label></dt>
            <dd><textarea th:field="*{instructions}" id="form_instructions" name="instructions"></textarea></dd>
            <span th:if="${#fields.hasErrors('instructions')}" th:errors="*{instructions}">Instructions Error</span>

            <dt><label for="ingredient-add">Ingredients</label></dt>
            <dd id="ingredients-container">
                <ul class="selected" aria-live="polite" id="ingredients-selected">
                    <li role="listitem" th:each="ingredient : ${recipeForm.ingredients}" th:unless="${recipeForm.ingredients.size() == 0}">
                        <input type="text" name="ingredients[]" th:value="${ingredient}" />
                        <button type="button" role="remove">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                        </button>
                    </li>
                    <template>
                        <li role="listitem">
                            <input type="text" name="ingredients[]" value="{{value}}" />
                            <button type="button" role="remove">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                            </button>
                        </li>
                    </template>
                </ul>
                <input aria-controls="ingredients-list" role="combobox" type="text" id="ingredient-add" placeholder="e.g.: Butternut squash">
                <ul role="listbox" id="ingredients-list" hidden>
                    <li role="option" th:each="ingredient : ${ingredients}" th:text="${ingredient}"></li>
                    <template data-role="create">
                        <li role="option" data-create="true" data-combobox-option-default="true">Create "{{value}}"</li>
                    </template>
                </ul>
            </dd>
        </dl>
        <button type="submit" class="btn-add">Save</button>
        <a th:href="@{/manage/recipe}" class="btn-cancel">Cancel</a>
    </form>
</main>
</body>
</html>
