<!DOCTYPE html>
<html th:replace="~{layout/manage :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Manage Recipes &raquo; What to Cook?</title>
</head>
<body>
<main>
    <div class="flex">
        <h1 class="flex-grow">Manage recipes</h1>
        <a class="btn-add self-center" th:href="@{/manage/recipe/add}">Add</a>
    </div>
    <div class="filters" th:if="${ingredient != null}">
        <p th:text="'Filtering by ingredient: ' + ${ingredient.getName()}" />
        <a class="btn-clear self-center" th:href="@{/manage/recipe}">Clear</a>
    </div>
    <table class="table table-pin-rows table-pin-cols w-full">
        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Name</th>
                <th class="actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="recipe: ${recipes}">
                <td th:text="${recipe.getId()}"></td>
                <td class="name">
                    <p th:text="${recipe.getName()}"></p>
                    <ul>
                        <li th:each="ingredient: ${recipe.getIngredients()}">
                            <a th:href="@{/manage/recipe(ingredient=${ingredient.getId()})}" th:text="${ingredient.getName()}" />
                        </li>
                    </ul>
                </td>
                <td class="actions">
                    <a class="btn-edit" th:href="@{/manage/recipe/{id}/edit(id=${recipe.getId()})}">Edit</a>
                    <form th:action="@{/manage/recipe/{id}/delete(id=${recipe.getId()})}" method="POST" th:data-recipe-name="${recipe.getName()}">
                        <button class="btn-delete w-full">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <script type="text/javascript">
        document.querySelectorAll('form').forEach((form) => {
            form.addEventListener('submit', (e) => {
                const recipe = e.target.attributes.getNamedItem('data-recipe-name').value;
                const message = `Are you sure you want to delete "${recipe}"?`;
                if (!confirm(message)) {
                    e.preventDefault();
                }
            });
        });
    </script>
</main>
</body>
</html>
