<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout (title, content)" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Layout Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/dist/manage.css}" />
</head>
<body class="bg-base-100 flex flex-col container mx-auto">
    <header class="navbar p-0">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" th:href="@{/}">What to cook?</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a th:href="@{/manage/recipe}">Recipes</a></li>
            </ul>
        </div>
    </header>
    <div class="alerts">
        <div class="alert alert-success" th:text="${success}" th:if="${success}"></div>
        <div class="alert alert-error" th:text="${error}" th:if="${error}"></div>
    </div>
    <main th:replace="${content}"/>
    <script th:src="@{/dist/manage.js}"></script>
</body>
</html>
