<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>What to cook?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" th:href="@{/dist/app.css}" />
</head>
<body class="bg-base-100 flex flex-col container mx-auto">
    <header class="navbar">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" th:href="@{/}">What to cook?</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a th:href="@{/manage/recipe}">Recipes</a></li>
            </ul>
        </div>
    </header>
    <main id="app" class="grow"></main>
    <script th:src="@{/dist/app.js}"></script>
</body>
</html>
