@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply p-2;
}

h1 {
    @apply text-4xl font-bold pb-4;
}

.btn-add {
    @apply btn btn-sm btn-neutral;
}

.btn-cancel {
    @apply btn btn-sm;
}

.alert {
    @apply mb-8;
}

.table {
    thead {
        tr {
            @apply uppercase text-sm leading-normal;

            th {
                @apply bg-zinc-100 dark:bg-gray-800;

                &.id {
                    @apply w-8;
                }

                &.actions {
                    @apply w-20 sm:w-40;
                }
            }
        }
    }

    tbody {
        tr {
            @apply hover:bg-zinc-100 dark:hover:bg-gray-800;
        }

        td.name {
            p {
                font-size: 1rem;
                font-weight: bold;
            }

            ul {
                margin-top: 5px;
                display: flex;
                flex-wrap: wrap;
                gap: 3px;

                font-size: 0.75rem;
                line-height: 1rem;

                li {
                    @apply border-zinc-200 bg-zinc-50 border rounded-md p-1 text-zinc-500;
                    display: inline-block;
                }
            }
        }

        td.actions {
            @apply flex flex-col space-y-1 sm:flex-row sm:space-x-2 sm:space-y-0;

            * {
                @apply flex-auto;
            }

            .btn-edit {
                @apply btn btn-xs btn-neutral;
            }

            .btn-delete {
                @apply btn btn-xs btn-error;
            }
        }
    }
}

.form-add {
    dl {
        dt {
            label {
                @apply text-zinc-600 dark:text-zinc-400 uppercase text-sm leading-normal;
            }
        }

        dd {
            @apply mb-4;
        }
    }

    input {
        @apply input input-bordered w-full;
    }

    textarea {
        @apply input input-bordered w-full h-48;
    }

    #ingredients-container {
        @apply p-4 border border-base-content bg-base-100 rounded-md border-opacity-20 flex flex-col gap-2;

        ul.selected {
            @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-2;

            li {
                @apply flex flex-row;

                input {
                    @apply flex-1 p-2 border border-base-content bg-base-100 rounded-md border-opacity-20 rounded-r-none border-r-0;
                }

                button[role=remove] {
                    @apply p-2 border rounded-md border-opacity-20 rounded-l-none bg-red-50 hover:bg-red-200 text-red-950 border-base-content dark:bg-gray-800 dark:hover:bg-gray-900 dark:text-red-200;
                }
            }
        }

        ul[role=listbox] {
            @apply border border-solid rounded-md divide-y border-slate-200 dark:divide-gray-900 dark:border-gray-900;

            li {
                @apply p-2 bg-white text-slate-800 dark:text-base-content dark:bg-gray-800;

                &[aria-selected=true] {
                    @apply font-bold bg-slate-50 text-slate-950 dark:bg-gray-900 dark:text-slate-200;
                }

                &:first-of-type {
                    @apply rounded-t-md;
                }

                &:last-of-type {
                    @apply rounded-b-md;
                }
            }
        }
    }
}
